<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./style.css" />
        <title>Services</title>
    </head>
    <body>
        <header class="header">
            <div class="header__logo">AKAD.</div>
            <div class="header__burger_menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </header>
        <main class="main">
            <section class="top">
                <h1 class="top__heading">Our Services</h1>
                <p>
                    <span>Home</span>
                    <span> / </span>
                    <span>Services</span>
                </p>
            </section>
            <section class="about">
                <h2>What we do</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="about__grid_container">
                    <p>
                        Erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                        autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan.
                    </p>
                    <ul>
                        <li>Stunning on all screens</li>
                        <li>Easy to customize</li>
                        <li>Make a difference</li>
                        <li>Imagine and create</li>
                        <li>Unlimited possibilities</li>
                    </ul>
                    <ul>
                        <li>Remarkable style</li>
                        <li>Captivation presentaions</li>
                        <li>Make your portfolio pop</li>
                        <li>Words that matter</li>
                        <li>Satisfied clients</li>
                    </ul>
                    <div class="about__img_container">
                        <img src="./assets/pic.png" alt="pic" />
                    </div>
                </div>
            </section>
            <section class="benefits">
                <div class="benefits__item">
                    <!-- <img src="./assets/pulse.svg" alt="pulse" /> -->
                    <ion-icon name="pulse"></ion-icon>
                    <h5>Keep pulse Going</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt .
                    </p>
                </div>
                <div class="benefits__item">
                    <!-- <img src="./assets/pulse.svg" alt="pulse" /> -->
                    <ion-icon name="infinity-outline"></ion-icon>
                    <h5>Pass the limits</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt .
                    </p>
                </div>
                <div class="benefits__item">
                    <img src="./assets/lamp.png" alt="idea" />
                    <h5>Great Ideas</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt .
                    </p>
                </div>
                <div class="benefits__item">
                    <ion-icon name="options-outline"></ion-icon>
                    <h5>Awesome Support</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt .
                    </p>
                </div>
            </section>
            <section class="pricing">
                <h2>Pricing plans</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="pricing__container">
                    <div class="pricing__item">
                        <h3>Basic</h3>
                        <p>$35.99 Monthly</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetuer adipiscing elit</li>
                            <li>Sed diam nonummy</li>
                            <li>Nibh euismod tincidunt</li>
                            <li>Ut laoreet dolore</li>
                            <li>Magna aliquam erat volutpat</li>
                        </ul>
                        <button>Get Started</button>
                    </div>
                    <div class="pricing__item">
                        <h3>Advanced</h3>
                        <p>$55.99 Monthly</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetuer adipiscing elit</li>
                            <li>Sed diam nonummy</li>
                            <li>Nibh euismod tincidunt</li>
                            <li>Ut laoreet dolore</li>
                            <li>Magna aliquam erat volutpat</li>
                        </ul>
                        <button>Get Started</button>
                    </div>
                    <div class="pricing__item">
                        <h3>Smart</h3>
                        <p>$75.99 Monthly</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetuer adipiscing elit</li>
                            <li>Sed diam nonummy</li>
                            <li>Nibh euismod tincidunt</li>
                            <li>Ut laoreet dolore</li>
                            <li>Magna aliquam erat volutpat</li>
                        </ul>
                        <button>Get Started</button>
                    </div>
                </div>
            </section>
            <section class="subscribe">
                <div class="subscribe__touch">
                    <h2>YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h2>
                    <button class="subscribe__touch_btn">Get in Touch</button>
                </div>
                <div class="subscribe__form">
                    <h3>STAY INFORMED WITH OUR NEWSLETTER</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Your email"
                        autocomplete="email"
                    />
                    <button type="submit">Send</button>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__top">
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>About us</li>
                        <li>Services</li>
                        <li>Portfolio</li>
                        <li>Blog</li>
                        <li>Contact us</li>
                    </ul>
                </nav>
                <span>Created by akhouad 2016. All Rights Reserved</span>
            </div>
            <div class="footer__bottom">
                <ul>
                    <li>
                        <a href="#"><img src="./assets/facebook.svg" alt="f" /></a>
                    </li>
                    <li>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    </li>
                    <li>
                        <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
                    </li>
                    <li>
                        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
                    </li>
                    <li>
                        <a href="#"><ion-icon name="logo-pinterest"></ion-icon></a>
                    </li>
                    <li>
                        <a href="#"><img src="./assets/instagram.svg" alt="insta" /></a>
                    </li>
                </ul>
            </div>
        </footer>
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
