$headingsFont: "Montserrat", sans-serif;
$mainFont: "Open Sans", sans-serif;
$maincolor: #7beec7;
$white: #ffffff;

@mixin list {
    margin: 15px 0;
    padding: 0 30px;
    position: relative;
    text-align: left;
    &::before {
        content: url("./assets/icons/checkbox.svg");
        position: absolute;
        top: 0;
        left: 0;
    }
}

@mixin menu {
    & span {
        display: block;
        height: 1px;
        width: 15px;
        margin-top: 6px;
        background: rgba(96, 96, 110, 1);
    }
    & span:first-child {
        width: 31px;
        margin-top: 0;
    }
    & span:nth-child(3) {
        width: 23px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    color: #60606e;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}
.hidden {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

h2 {
    position: relative;
    font-size: 30px;
    line-height: 48px;
    font-family: $headingsFont;
}

h2::before {
    width: 67px;
    height: 21px;
    background-color: $maincolor;
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    color: #60606e;
    font-weight: 700;
    font-family: $headingsFont;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    line-height: 30px;
    color: #60606e;
    font-weight: 700;
    font-family: $headingsFont;
    text-align: center;
    text-transform: uppercase;
}

button,
.pricing__item a {
    width: 136px;
    height: 51px;

    font-size: 14px;
    font-weight: 700;
    font-family: $headingsFont;
    text-transform: uppercase;
    cursor: pointer;

    background: $maincolor;
    color: $white;
    transition: all 0.3s ease 0s;

    &.subscribe__touch_btn {
        width: 166px;
        background: $white;
        color: $maincolor;
    }

    &:hover {
        background: #999999;
        transition: all 0.3s ease 0s;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: $mainFont;
}

.header {
    z-index: 10;
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: $headingsFont;
    font-weight: bold;

    &__logo {
        position: relative;

        &::before {
            transform: scaleX(0);
            transform-origin: bottom right;
        }

        &:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            inset: 0 0 0 0;
            background: #999999;
            margin: -10px;
            z-index: -1;
            transition: transform 0.3s ease;
        }
    }
    &__burger_menu {
        cursor: pointer;

        & nav {
            display: none;
            transition: all 0.3s ease 0s;
        }
        @include menu;

        &:hover {
            & nav {
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 20px;
                transition: all 0.3s ease 0s;
                & li {
                    padding: 5px;
                    border-bottom: 1px solid #999999;
                    text-transform: uppercase;
                    &:hover {
                        background: #9a9a9a;
                    }
                }
            }
            & span {
                opacity: 0.5;
            }
        }
    }
}

.main {
    flex: 1 1 auto;
}

section {
    margin: 0 auto;
    padding: 150px 15px 0;
    max-width: 1140px;
}

section:first-child,
section:last-child {
    padding: 0 15px;
    max-width: initial;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url("./assets/top.png") 0 0 / cover no-repeat;
    filter: grayscale(100%);
}

.about {
    margin: 30px auto 20px;
    font-size: 14px;
    line-height: 30px;
    color: #60606e;
    font-weight: 400;
    font-family: $mainFont;
    text-align: center;
    text-transform: uppercase;

    & > p {
        margin: 20px auto 100px;
        max-width: 750px;
    }

    &__grid_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "p p pic pic"
            "ul_first ul_second pic pic"
            "ul_first ul_second pic pic";
        text-align: left;
        gap: 30px;

        & p {
            grid-area: p;
            font-size: 14px;
            line-height: 30px;
            text-transform: none;
        }

        & ul {
            & li {
                @include list;
            }
        }

        & ul:first-child {
            grid-area: ul_first;
        }

        & ul:last-child {
            grid-area: ul_second;
        }
    }

    &__img_container {
        grid-area: pic;
        position: relative;
        align-self: stretch;
        & img {
            position: absolute;
            max-width: 100%;
        }
    }

    & p {
        font-family: $mainFont;
    }
}

.pricing {
    text-align: center;
    & p {
        max-width: 750px;
        margin: 0 auto;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        & a {
            color: $white;
            padding: 17px 0 0 0;
        }

        position: relative;
        flex: 0 1 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 15px;
        margin: 100px 15px;

        &::before {
            position: absolute;
            content: "";
            background: $maincolor;
            width: 100%;
            height: 5px;
            top: 0;
            left: 0;
            margin-bottom: 10px;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            margin-bottom: 10px;
            width: 0;
            height: 0;
            border-top: 15px solid $maincolor;
            border-left: 15px solid transparent;
        }

        &:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease 0s;
        }

        & p {
            background: $maincolor;
            padding: 10px 22px;
            margin: 15px 0 0px;
            color: $white;
        }

        & ul {
            margin: 50px 0;
            & li {
                @include list;
            }
        }
    }
}

.benefits {
    display: flex;
    text-align: center;
    position: relative;

    &__item {
        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon_back {
        background: $maincolor;
        width: 50px;
        height: 20px;
        position: relative;
        margin-bottom: 30px;

        & img {
            position: absolute;
            transform: translateY(-60%);
            left: 10px;
        }
    }
}

.subscribe {
    background: $maincolor;

    & .container {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        margin: 0 auto;
        padding: 50px;
        & h2 {
            color: $white;
        }
    }

    &__form {
        max-width: 50%;
        padding: 20px;
        background: $white;

        & p {
            margin: 20px 0;
        }

        & form {
            display: flex;
            justify-content: space-between;

            & input {
                border: 1px solid rgba(0, 0, 0, 0.1);
                width: 100%;
                max-width: 100%;
                &:placeholder-shown {
                    padding-left: 20px;
                    text-transform: uppercase;
                }
            }

            & button {
                min-width: 136px;
            }
        }
    }
}

.footer {
    margin: 0 auto;
    padding: 50px 50px;
    max-width: 1140px;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    font-weight: 400;
    font-family: $mainFont;
    text-transform: uppercase;
    color: #9a9a9a;

    &__burger_menu {
        & span {
            display: none;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;

        & nav ul {
            display: flex;

            & li {
                position: relative;

                &::after {
                    margin: 0 10px;
                    content: "-";
                }

                &:last-child::after {
                    content: "";
                }

                & a:hover {
                    border-bottom: 1px solid #9a9a9a;
                }
            }
        }
    }

    &__bottom ul {
        display: flex;
        justify-content: end;

        & li {
            padding-left: 20px;
        }
    }
}

.animation {
    opacity: 0;
    animation: anime 5s linear 1s 1 alternate;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1010px) {
    section {
        padding-top: 3rem;
    }

    .benefits {
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 3rem;
        justify-content: space-evenly;
        &__item {
            flex: 0 0 40%;
        }
    }

    .about {
        & p {
            margin-left: 2rem;
        }

        &__grid_container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "p pic"
                "ul_firest ul_second";
            justify-items: center;
        }

        &__img_container {
            height: 20rem;
            width: 90%;
        }
    }

    .pricing {
        margin-bottom: 1.5rem;

        & p {
            max-width: 50%;
        }

        &__container {
            flex-direction: column;
        }

        &__item {
            max-width: 50%;
            margin: 0 auto;
        }
    }

    .subscribe {
        & .container {
            flex-direction: column;

            & > div {
                max-width: 70%;
                margin: 0.8rem auto;
            }
        }
    }

    .footer {
        &__burger_menu {
            display: block;
            cursor: pointer;
            position: relative;

            @include menu;

            & nav {
                display: none;
                transition: all 0.3s ease 0s;
            }

            &:hover {
                & nav {
                    position: fixed;
                    display: block;
                    padding: 1.5rem;
                    width: 50%;
                    bottom: 0;
                    right: 0;
                    text-align: right;
                    background: $white;
                    transition: all 0.3s ease 0s;
                    z-index: 10;

                    & ul {
                        flex-direction: column;

                        & li::after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .about {
        &__grid_container {
            grid-template-columns: 1fr;
            grid-template-areas: "pic" "p";
            justify-items: center;
        }

        &__img_container {
            height: 20rem;
            width: 90%;
            order: -1;
            margin: 10% auto;
        }
    }

    .benefits {
        &__item {
            flex: 0 1 60%;
        }
    }

    .pricing {
        &__item {
            max-width: 80%;
        }
    }
    .subscribe {
        & .container {
            padding: 1.5rem;

            & > div {
                max-width: 100%;
            }
        }
    }
    .footer {
        &__top {
            & > span {
                display: none;
            }
        }
        &__bottom {
            & ul {
                justify-content: center;
            }
        }
    }
}

@keyframes anime {
    0% {
        opacity: 0.5;
        transform: translateY(-1000px);
        box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
            -10px -10px 10px #ffffff inset;
    }
    25% {
        opacity: 1;
        transform: translateX(100px);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        position: static;
        transform: translate(0, 0);
    }
}
