* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #60606e;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h2 {
  position: relative;
  font-size: 30px;
  line-height: 48px;
  font-family: "Montserrat";
}

h2::before {
  width: 67px;
  height: 21px;
  background-color: #7beec7;
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  color: #60606e;
  font-weight: 700;
  font-family: "Montserrat";
}

h4 {
  font-size: 18px;
  line-height: 30px;
  color: #60606e;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

button {
  width: 136px;
  height: 51px;
  background: #7beec7;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  cursor: pointer;
}

button.subscribe__touch_btn {
  width: 166px;
  background: #ffffff;
  color: #7beec7;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Open Sans";
}

section {
  margin: 0 auto;
  padding: 150px 15px 0;
  max-width: 1140px;
}

section:first-child,
section:last-child {
  padding: 0 15px;
  max-width: initial;
}

.header {
  z-index: 10;
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.header__burger_menu {
  cursor: pointer;
}

.header__burger_menu nav {
  display: none;
}

.header__burger_menu span {
  display: block;
  height: 1px;
  width: 15px;
  margin-top: 6px;
  background: #60606e;
}

.header__burger_menu span:first-child {
  width: 31px;
  margin-top: 0;
}

.header__burger_menu span:nth-child(3) {
  width: 23px;
}

.header__burger_menu:hover nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger_menu:hover nav li {
  padding: 5px;
  border-bottom: 1px solid #999999;
  text-transform: uppercase;
}

.header__burger_menu:hover nav li:hover {
  background: #9a9a9a;
}

.header__burger_menu:hover span {
  width: 1px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  background: url("./assets/top.png") 0 0/cover no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about {
  margin: 30px 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: #60606e;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  text-transform: uppercase;
}

.about > p {
  margin: 20px auto 100px;
  max-width: 750px;
}

.about__grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "p p pic pic" "ul_first ul_second pic pic" "ul_first ul_second pic pic";
  text-align: left;
}

.about__grid_container p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: p;
}

.about__grid_container ul li {
  margin: 15px 0;
  padding: 0 30px;
  position: relative;
}

.about__grid_container ul li::before {
  content: url("./assets/icons/checkbox.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.about__grid_container ul:first-child {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ul_first;
}

.about__grid_container ul:last-child {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ul_second;
}

.about__img_container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: pic;
}

.about p {
  font-family: "Open Sans";
}

.pricing {
  text-align: center;
}

.pricing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 0 40px 30px;
  margin: 100px 15px;
}

.pricing__item:hover {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.pricing__item p {
  background: #7beec7;
  padding: 10px 22px;
  margin: 15px 0 0px;
  color: #ffffff;
}

.pricing__item ul {
  margin: 50px 0;
}

.pricing__item ul li {
  margin: 15px 0;
  padding: 0 30px;
  position: relative;
  text-align: left;
}

.pricing__item ul li::before {
  content: url("./assets/icons/checkbox.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
}

.benefits__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__icon_back {
  background: #7beec7;
  width: 50px;
  height: 20px;
  position: relative;
}

.benefits__icon_back img {
  position: absolute;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  left: 10px;
}

.subscribe {
  background: #7beec7;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px;
}

.subscribe .container h2 {
  color: #ffffff;
}

.subscribe__form {
  max-width: 50%;
  padding: 20px;
  background: #ffffff;
}

.subscribe__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__form form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
}

.subscribe__form form input:placeholder-shown {
  padding-left: 20px;
  text-transform: uppercase;
}

.subscribe__form form button {
  min-width: 136px;
}

.footer {
  margin: 0 auto;
  padding: 50px 50px;
  max-width: 1140px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #9a9a9a;
}

.footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__top nav ul li {
  position: relative;
}

.footer .footer__top nav ul li::after {
  margin: 0 10px;
  content: "-";
}

.footer .footer__top nav ul li:last-child::after {
  content: "";
}

.footer .footer__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer .footer__bottom ul li {
  padding-left: 20px;
}
